.main{
    margin-top: 5px;
    margin-left: 4px;
    border-top: 1px solid gainsboro;
    height: 668px;
    width: 1014px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.div1{
    margin-top: -1px;
    width: 
}
h1{
    font-size: 50px;
    word-break: break-all;
}

.header-textp{
	position: absolute;
    top: 40px;
    left: 28px;
	color:white;
	font-size:2em;
    font-size:32px;
}

.header-text{
	position: absolute;
    top: 20px;
    left: 25px;
	color:white;
    font-size:1.8em;
}
.col1{
    float: left;
    height: 100px;
    width: 140px;
    padding: 5px 4px 3px 5px;
}
/*
.left{
    height: 540px;
    max-width: 570px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top:5px;
    padding-left: 7px;
    border-top: 1px solid black; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}  */
.ptitle{
    font-size: 10px;
}
.right{
    height: 540px;
    width:300px;
}

.d2left{
    float: left;
    height: 540px;
    width: 570px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top:5px;
    padding-left: 7px;
    border-top: 1px solid black; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.d2right{
    float: right;
    margin-top: 11px;
    margin-right: 5px; 
    height: 540px;
    width:420px;
}
.d2media{
    height: 269px;
    border-top: 1px solid black; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.d2rct{
    height: 269px;
    margin-top:2px; 
    border-top: 1px solid black; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.pagn1{
    padding-right: 10px;
    padding-bottom: 5px;
}

.collapsible {
    background-color:lightgray;
    text-decoration: none;
    font-weight: bold;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  .radio{
font-size:13px;
  }
  
