<div class="div1">
        <div class="header">
            <img src="../assets/images/image 72.png" style="width: 1003px; height:85px;">
            <h1 class="header-text">GrammerNotes</h1>
            <p class="header-textp">Level Two</p>
        </div>
                    <div class="left">
                    <!-- <ng-container *ngFor="let val of images; let i = index;">
                        <div class="col1">
                            <img src="{{val}}" class="img-fluid">
                        </div>
                    </ng-container> -->
                    <ng-container *ngFor="let data of arrImage;">

                    <div class="col1">
                            <img src="{{data.path}}" class="img-fluid">
                            <p class="ptitle">{{data.title}}</p>
                    </div>
                    </ng-container>
                    
                </div>
                <div class="player"></div>
                <p>Please select a presentation from the gallary on the left.</p>
            <div></div>
                 <a href="#">Credits</a>
     
</div>