.header{
    width:666px;
    height:90px;
}

.div1{
    margin-top: 8px;
    margin-left: 8px;
    border-top: 1px solid gainsboro;
    height: 668px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 1014px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}


.header-textp{
	position: absolute;
    top: 40px;
    left: 28px;
	color:white;
	font-size:2em;
    font-size:32px;
}

.header-text{
	position: absolute;
    top: 20px;
    left: 25px;
	color:white;
    font-size:1.8em;
}
    
    
    .col1{
        float: left;
        height: 100px;
        width: 140px;
        padding: 5px 4px 3px 5px;
        
       
    }
    .left{
        margin-top: 8px;
        padding: 5px 0px 0px 5px;
        height: 540px;
        width: 570px;
        border-top: 1px solid black; 
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
  .ptitle{
     font-size: 9px;
}
.player{
background-color:lightblue;
height: 200px;
width: 380px;
position:absolute;
top:115px;
right: 355px;
}